[package]
name = "test-case"
version = "0.3.3"
edition = "2018"
authors = ["Marcin Sas-Szymanski <marcin.sas-szymanski@anixe.pl>", "Wojciech Polak <frondeus@gmail.com>"]
description = "Provides #[test_case(...)] procedural macro attribute for generating parametrized test cases easily"
keywords = ["test", "case", "tests", "unit", "testing"]
categories = ["development-tools", "development-tools::testing"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/frondeus/test-case"
documentation = "https://docs.rs/test-case"
exclude = ["tests/snapshots/**/*"]
build = "build.rs"

[badges]
travis-ci = { repository = "frondeus/test-case", branch = "master" }
maintenance = { status = "actively-developed" }

[lib]
doctest = false
proc-macro = true
path = "src/lib.rs"

[dependencies]
syn = { version = "1.0", features = ["full", "extra-traits"] }
quote = "1.0"
proc-macro2 = { version = "1.0", features = [] }

[build-dependencies]
version_check = "0.9.1"

[dev-dependencies]
insta = "0.12.0"
lazy_static = "1.4.0"
