[package]
name = "test-case"
version = "0.3.0"
edition = "2018"
authors = ["Marcin Sas-Szymanski <marcin.sas-szymanski@anixe.pl>", "Wojciech Polak <frondeus@gmail.com>"]
description = "Provides #[test_case(...)] procedural macro attribute for generating parametrized test cases easily"
keywords = ["test", "case", "tests", "unit", "testing"]
categories = ["development-tools", "development-tools::testing"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/frondeus/test-case"
documentation = "https://docs.rs/test-case"
exclude = ["tests/snapshots/**/*"]

[badges]
travis-ci = { repository = "frondeus/test-case", branch = "master" }
maintenance = { status = "actively-developed" }

[lib]
doctest = false
proc-macro = true
path = "src/lib.rs"

[dependencies]
syn = { version = "0.15.44", features = ["full"] }
quote = "0.6.12"
proc-macro2 = { version = "0.4.30", features = [] }
lazy_static = "1.3.0"

[dev-dependencies]
insta = "0.8.1"
